.navbar{
background-color: rgba(230,230,250, 0.7);
}
.offcanvas{
	font-weight: 400;
	font-size: 25px;
	font-style: oblique;
}
.hr{
	font-weight: 400;
	font-size: 40px;
	font-style: oblique;
}